@-moz-viewport {width: device-width; scale:1;}
@-ms-viewport {width: device-width; scale:1;}
@-o-viewport {width: device-width; scale:1;}
@-webkit-viewport {width: device-width; scale:1;}
@viewport {width: device-width; scale:1;}

html {
    box-sizing: border-box;
    overflow-x:hidden; 
    
    -moz-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    text-size-adjust:100%;
     background-color: #000;   
}

*, *::before, *::after {
 box-sizing: inherit;   
}

.logo {
    height: 9.2em;
    top: -61.5px;
    margin-left: -11%;
    width: 11em;
    margin-bottom: -40px;
    position: relative;
}

.title {
        margin-left:-10%;
    }

.text {
    font-size: 110%;
    color: #fff;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	text-align: center;
 }

.center {
    margin-right: 10%;
}

.social {
     border-top: 1.5px solid #126b75;
     width: 90%;
     overflow: hidden;
     padding-left: 20%;
     padding-right: 20%;
}

a{
    color: white;
}

.social-media {
    margin-top: 12px;
}

.media {
    height: 40px;
    padding-right: 6px;   
}

.diamond {
    height: 400px;
    width: 400px;
    position: relative;
    left: -2%;
    top: 140px;
    background-color: #178e9c;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); 
}

/*.square {
    height: 600px;
    width: 566px;
    position: relative;
    left: -92.2px;
    top: -110px;
    background-color: #137d89;
    overflow:hidden;
    z-index: -3;
}*/

@media only screen and (min-width: 20em) {

}
@media only screen and (min-width: 40em) {
    .logo {
       top: -101.5px;
        margin-left: -21%;
        width: 11em;
        margin-bottom: -55px;
        position: relative;
    }

  .text {
        color: #fff;
	   -webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	   -ms-transform: rotate(-45deg);
	   -o-transform: rotate(-45deg);
	   transform: rotate(-45deg);
	   text-align: center;
        margin-right: -60px;
        margin-left: -60px;
    }
    
    .title {
        margin-left:-20%;
    }

    .center {
        margin-right: 20%;
        margin-left: 2%;
    }

    .social {
        width: 80%;
        overflow: hidden;
        padding-left: -80%;
        padding-right: 25%;
    }

    
    .diamond {
        height: 500px;
        width: 500px;
        position: relative;
        left: -135px;
        top: 115px;
        background-color: #178e9c;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); 
    }    
}
    
@media only screen and (min-width: 60em) {
    .logo {
        top: -95.1px;
        left: 2%;
        width: 11em;
        margin-bottom: -55px;
    }
    
    .social {
        width: 90%;
        padding-left: -90%;
        padding-right: 25%;
    }
}
@media only screen and (min-width: 90em) {
    .logo {
        height: 3%;
        top: -110.1px;
        left: -1%;
        width: 11em;
        position: relative;
        margin-bottom: -70px;
    }
    
    .text {
        font-size: 100%;
        margin-right: -15%;
    }
}