@-moz-viewport {width: device-width; scale:1;}
@-ms-viewport {width: device-width; scale:1;}
@-o-viewport {width: device-width; scale:1;}
@-webkit-viewport {width: device-width; scale:1;}
@viewport {width: device-width; scale:1;}

html {
    box-sizing: border-box;
    overflow-x:hidden; 
    
    -moz-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    text-size-adjust:100%;
     background-color: #000;
     
}

*, *::before, *::after {
 box-sizing: inherit;   
}

.logo {
    top: -65px;
    left: -10px;
    width: 11em;
    margin-bottom: -40px;
    position: relative;
}

.text {
    color: #fff;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	text-align: center;
 }

.center {
    margin-right: 30px;
}

.social {
     border-top: 1.5px solid #137d89;
}

a{
    color: white;

}

.social-media {
    margin-top: 10px;
}

.media {
    height: 40px;
    padding-right: 6px;
    
}

.diamond {
    height: 100%;
    width: 100%;
    position: relative;
    left: -10px;
    top: 90px;
    background-color: #178e9c;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); 
}

/*.square {
    height: 600px;
    width: 566px;
    position: relative;
    left: -92.2px;
    top: -110px;
    background-color: #137d89;
    overflow:hidden;
    z-index: -3;
}*/

@media only screen and (min-width: 20em) {


@media only screen and (min-width: 40em) {


@media only screen and (min-width: 60em) {
    .logo {
        top: -56.1px;
        left: -3.9px;
        width: 11em;
        margin-bottom: -55px;
        position: relative;
    }

    .text {
        color: #fff;
        text-align: center;
	   -webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	   -ms-transform: rotate(-45deg);
	   -o-transform: rotate(-45deg);
	   transform: rotate(-45deg);
	   text-align: center;  
    }
    
    .center {
        margin-right: 24px;
        font-size: .9em;
    }
}
@media only screen and (min-width: 90em) {
    .logo {
        top: -55.1px;
        left: -6px;
        width: 11em;
        position: relative;
        padding-bottom: -30px
    }

    .text {
        color: #fff;
        text-align: center;
	   -webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
	   -o-transform: rotate(-45deg);
        transform: rotate(-45deg);   
 }
    .center {
        margin-right: 40px;
        font-size: 1em;
    }
}